/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
 */

:root {
  --primary-color: #357b70;
  --primary-visited: #05676e;
  --primary-select-link: #489c79;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --light-background: rgb(255, 255, 255);
  --font-family: 'Lato', sans-serif;
  --font-weight-body: 400;
  --font-weight-heading: 700;
}

body {
  background-color: var(--light-background);
  font-family: var(--font-family);
  font-weight: var(--font-weight-body);
  font-size: 16px;

  /* Sets the font size to 16px */
  line-height: 1.6;

  /* Sets the line-height to 1.6 */
}

h1 {
  font-size: 30px;
  font-weight: var(--font-weight-heading);
}

h2 {
  font-size: 24px;
  font-weight: var(--font-weight-heading);
}

h3 {
  font-size: 18px;
  font-weight: var(--font-weight-heading);
}

a {
  color: var(--primary-color);
}

a:visited {
  /* visited link */
  color: var(--primary-visited);
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--primary-select-link);
}

button,
.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #357b70;
  color: white;
  text-decoration: none;

  /* adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.button__secondary {
  background-color: #e0b354;
  color: #2b2b2b;
}

.profile__portrait {
  float: left;
}

.about-me {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* start grid fallback */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  display: inline-block;
  width: 33%;
}

/* end grid fallback */
@supports (display: grid) {
  .grid {
    display: grid;

    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }

  .grid__item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 0;
  }

  .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}